global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:{{ .Values.prometheus.service.port }}"]

  - job_name: "evaluator-api"
    static_configs:
      - targets: ["{{ .Release.Name }}-evaluator-api:{{ .Values.evaluator.service.port }}"]

  - job_name: "extractor-api"
    static_configs:
      - targets: ["{{ .Release.Name }}-extractor-api:{{ .Values.extractor.api.service.port }}"]