dispatcher:
  replicaCount: 1
  db:
    name: dispatcher_db
    username: dispatcher_user
  evaluator:
    image:
      repository: ghcr.io/mlops-2526q1-mds-upc/recruitair/dispatcher-evaluator
      tag: "0.2.3"
      pullPolicy: IfNotPresent
  extractor:
    image:
      repository: ghcr.io/mlops-2526q1-mds-upc/recruitair/dispatcher-extractor
      tag: "0.2.3"
      pullPolicy: IfNotPresent
  api:
    image:
      repository: ghcr.io/mlops-2526q1-mds-upc/recruitair/dispatcher-api
      tag: "0.2.3"
      pullPolicy: IfNotPresent
    service:
      type: ClusterIP
      port: 8000
    autoscaling:
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80
    ingress:
      enabled: true
      host: localhost
      prefix: /api
      tls:
        enabled: false
        # secretName: dispatcher-api-tls
  migration:
    image:
      repository: ghcr.io/mlops-2526q1-mds-upc/recruitair/dispatcher-migration
      tag: "0.2.3"
      pullPolicy: IfNotPresent
postgres:
  adminSecretName: postgres-secret
  image:
    repository: postgres
    tag: "16-alpine"
    pullPolicy: IfNotPresent
  persistence:
    size: 10Gi
    storageClass: "standard"
imagePullSecrets:
  - name: regcred
extractor:
  service:
    port: 8081
evaluator:
  service:
    port: 8082

evaluator:
  image:
    repository: ghcr.io/mlops-2526q1-mds-upc/recruitair/evaluator-api
    tag: "0.1.3"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8000
  autoscaling:
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  ingress:
    enabled: false
    host: localhost
    prefix: /evaluator
  model:
    name: criteria-evaluation
    version: "1"


extractor:
  api:
    image:
      repository: ghcr.io/mlops-2526q1-mds-upc/recruitair/extractor-api
      tag: "0.1.0"
      pullPolicy: IfNotPresent
    service:
      type: ClusterIP
      port: 8000
    autoscaling:
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80
    ingress:
      enabled: false
      host: localhost
      prefix: /extractor
    model:
      name: dolphin3
      version: 8b
    prompt:
      name: criteria-extraction
      version: "1"
  ollama:
    image:
      repository: ollama/ollama
      tag: 0.13.1
      pullPolicy: IfNotPresent
    service:
      type: ClusterIP
      port: 11434
    autoscaling:
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80
    ingress:
      enabled: false
      host: localhost
      prefix: /ollama

mlflow:
  trackingUri: https://ml-4cb370e118ec407c83eed254868ebce1.ecs.eu-north-1.on.aws